.wrapper{
	display:grid;
	grid-template-columns:20% 75%;
	grid-column-gap: 2em;
	padding: 1em;
}
body{
	 margin:0%;
	 width:100%;
	 height:100vh;
	font-family:"Exo",sans-serif;
	color:#fff;
	background: linear-gradient(-45deg,#636363, #a2ab58,#659999, #f4791f);
	background-size: 400% 400%;
	animation: gradientBG 8s ease infinite;
}
@keyframes gradientBG{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
html{
	scroll-behavior: smooth;
}
h2{
	margin-left:6%;
	font-size:100%;
	color:black;
	position:relative;
}
p{
	word-spacing: 10px;
	margin-left:6%;
	font-size:100%;
	color:white;
}
h1{
	color:black;
	font-family:verdana;
	font-size:40%;
}
img{
	margin-left:8%;
	border-radius:50%;
	margin-top:1%;
}
.button1{
	background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
  padding: 15px 32px;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:19%;
}
.button2{
	background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
	
  padding: 15px 32px;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 20%;
}
.button3{
	background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
	
 
  padding: 15px 32px;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:20%;
}
.button4{
	background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
	
  
  padding: 15px 32px;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;

  margin-left:20%;
}
.button5{
	background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
 	padding: 15px 32px;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:21%;
}
.divide1{
	text-align: center;
	float:middle;
	width:50%;
	display:inline-block;
	color:black;
	font-family:verdana;
	font-size:100%;
}
.divide2{
	margin-left:45%;
	display:inline-block;
	height: 100%;
	width:50%;
	float:right;
	color:black;
	font-family:verdana;
	font-size:200%;
	position:absolute;
}
.indent{
	margin-left:6%;
}
#THREE{
	margin-left:6%;
}
#FOUR{
	margin-left:6%;
}
#FIVE{
	margin-left:6%;
}

.imagine{
	width: 30%;height: 20%;
	border-radius: 8px;
}
.imagine2{
	width:40%;
	height:20%;border-radius: 8px;
}
@media screen and (max-width: 300px)
{
	img{
		display: block;
	}
	.wrapper{
		grid-template-columns: 300px ;
		font-size:70%;
		grid-template-rows: 300px: 
	}
	
}
@media screen and (max-width: 768px)
{
	img{
		display: block;
	}
	.wrapper{
		grid-template-columns:400px;
		font-size:70%;
		grid-template-rows: 368px: 
	}
}
